@model IEnumerable<Spotless.Models.Device>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ExportView</title>
    </head>
    <body>
        <div>
            <table>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.DeviceName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Longitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Latitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.isActive)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.isMonitored)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.DeviceName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Latitude)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.isActive)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.isMonitored)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </body>
</html>
